.RuleFilter {
    background-color: #64b5f6;
    display: flex;
    justify-content: left;
    align-items: center;
    width:100%;
}

.RuleFilter div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.RuleFilter p {
    margin-right: 20px;
}

.FilterButtons {
    padding: 24px;
}

